/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors'
@import './variables/components'
@import './themes/default'
*/

body {
  background: #eee;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

.card-image .card-title {
  text-shadow: 0 0 3px black;
}

.center-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav li:hover, .side-nav li.active {
  background-color: #eee;
}

.vjs-icon-captions,
.video-js .vjs-captions-button,
.vjs-resolution-button .vjs-resolution-button-label,
.vjs-resolution-button .vjs-menu li,
.vjs-icon-circle, .video-js .vjs-mouse-display, .video-js .vjs-play-progress, .video-js .vjs-volume-level,
{
  font-family: VideoJS, Roboto;
}
