.preloader {
  margin: 0 auto;
}

.preloaderWrapper {
  min-height: 200px;
}

.poster {
  text-align: center;
  margin-top: 15px;
}

.label {
  text-align: right;
  font-weight: bold;
  vertical-align: top;
  width: 20%;
}
