:global {
  .card-image .card-title {
    text-shadow: 0 0 3px black;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
}

.maskHover {
  @extend .mask;
  background: rgba(0, 0, 0, 0.6);
}

.tags {
  position: absolute;
  top: 5px;
  right: 5px;

  span {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 32px;
    height: 32px;
    display: block;
    text-align: center;
    border-radius: 32px;
    line-height: 32px;
  }
}

.imdb {
  padding-top: 3px;
  span {
    padding: 3px;
    color: black;
    background: #e3ab3b;
    height: 20px;
    display: block;
    text-align: center;
    border-radius: 2px;
    line-height: 15px;
    font-size: 13px;
  }
}

.root {
  &:hover {
    .actions {
      animation: slidein 0.3s forwards;
      -webkit-animation: slidein 0.3s forwards;
    }
  }
}

.actions {
  padding: 10px !important;
  transform: translateY(70px);
  -webkit-transform: translateY(70px);

  a {
    color: black !important;
    padding: 5px 6px;
    cursor: pointer;
    margin-right: 10px !important;

    i {
      font-size: 24px;
      line-height: 1;
    }
  }
}

.slidein {
  animation: slidein 0.3s forwards;
  -webkit-animation: slidein 0.3s forwards;
}

.slideout {
  animation: slideout 0.3s forwards;
  -webkit-animation: slideout 0.3s forwards;
}

@keyframes slidein {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slidein {
  100% { -webkit-transform: translateY(0%); }
}

@keyframes slideout {
  0% { transform: translateY(0%); }
  100% { transform: translateY(70px); }
}

@-webkit-keyframes slideout {
  0% { -webkit-transform: translateY(0%); }
  100% { -webkit-transform: translateY(70px); }
}
