.logo {
  padding-top: 20px;
  text-align: center;
  img {
    width: 150px;
  }
}

.logolink {
  display: inline !important;
}

.mainmenu {
  strong {
    font-weight: 500;
    font-family: Roboto;
  }

  li:hover {
    a > i {
      color: #d32f2f;
    }
  }

  .outerlink {
    margin: 0 1rem;
    i {
      width: 2rem;
      font-size: 1.6rem;
      line-height: inherit;
      display: block;
      float: left;
      text-align: center;
      margin-right: 1rem;
    }
  }
}
