.root {
  nav i {
    font-size: 24px;
  }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.logo {
  margin-right: 100px;
  img {
    height: 46px;
    vertical-align: middle;
    &:hover {
      animation: spin 4s linear infinite;
    }
  }
}

.searchbar {
  margin-top: 10px;
}

#moreActivator {
  min-width: 200px;
}

#moreMenu {
  a {
    color: #c62828;
    &:hover {
      color: white;
      background: #c62828;
    }
  }
}
